.meal-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  overflow-y: auto;
}

.meal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #e0e5ec;
  border-radius: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 15px;
  box-shadow: 6px 6px 12px rgba(163, 177, 198, 0.3),
    -6px -6px 12px rgba(255, 255, 255, 0.8);
}

.meal-item:hover {
  transform: translateY(-1px);
  box-shadow: 8px 8px 16px rgba(163, 177, 198, 0.3),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
}

.meal-name {
  font-weight: 600;
  color: #31456a;
  font-size: 16px;
}

.meal-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
}

.meal-sugar,
.meal-insulin {
  color: #31456a;
  font-size: 14px;
  font-weight: 500;
  background: linear-gradient(145deg, #f0f5ff, #d1d9e6);
  padding: 6px 10px;
  border-radius: 10px;
  box-shadow: inset 3px 3px 6px rgba(163, 177, 198, 0.2),
    inset -3px -3px 6px rgba(255, 255, 255, 0.8);
}

.meal-insulin {
  background: linear-gradient(145deg, #e6f7ff, #cce7f0);
  color: #1890ff;
}
